<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <a href="\doc"> Documentation </a>
    <h1>File Upload only file .otio </h1>
    <form method="POST" action="submitfile" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  <br/>
  PLUGINS INFO:
    {% for pt in plugins %}
      <h2>{{pt}}</h2>
      <ul>
      {% for p in plugins[pt] %}
        <li>{{p}}</li>
      {% endfor %}
      </ul>
    {% endfor %}
  </body>
</html>
